.card {
  width: 323px;
  height: 328px;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 19px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.card__name {
  padding: 2px 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.6);
  background-color: white;
  border-radius: 4px;
  margin: 0 10px 0 0;
  max-width: 200px;
  position: absolute;
  top: 15px;
  margin: 0;
}

.card__image {
  width: 100%;
}
