.header {
  font:
    Cabinet Grotesk,
    Arial,
    Sans-Serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__nav-link {
  text-decoration: none;
  color: black;
}

.header__date-and-location {
  margin: 0;
}

.header__right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__add-clothes-btn {
  font: "Cabinet Grotesk", Arial, Sans-Serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  margin-left: auto;
  margin: 0 20px 0 auto;
  border-style: none;
  cursor: pointer;
  background-color: transparent;
  transition: opacity 0.3s;
}

.header__add-clothes-btn:hover {
  opacity: 50%;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  transition: opacity 0.3s;
}

.header__username:hover {
  opacity: 50%;
}
